<a href="https://colab.research.google.com/github/divyagainer/Python-Projects/blob/main/Python_Data_Structure_Assignment_Day_5_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [ ]:
# create empty list, name it 'a'
a = []

In [ ]:
# print the value of a

print(a)

[]

In [ ]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [ ]:
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [ ]:
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [ ]:
for i in languages:
    print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [ ]:
temp = languages[1]
print(temp)

Python

Print the value of temp and type(temp)

In [ ]:
print(temp)
print(type(temp))

Python
<class 'str'>

Append the element 'Java' in the list

In [ ]:
languages.append('Java')

Remove the element 42 from the list and print the list

In [ ]:
languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [ ]:
colors = ['Red', 'Blue', 'White']
print(colors)

['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [ ]:
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [ ]:
colors.insert(1,'Orange')

Print the list

In [ ]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [ ]:
colors2 = ['Grey','Sky Blue']
print(colors2)

['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [ ]:
colors2.extend(colors2)

Print len of colors and its elements

In [ ]:
print(len(colors2))

4

Sort the list and print it.

In [ ]:
colors2.sort()
print(colors2)

['Grey', 'Grey', 'Sky Blue', 'Sky Blue']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [ ]:
sent = 'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [ ]:
words = sent.split()
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower.
Print words_lower

In [ ]:
words_lower = sent.lower()
print(words_lower)

coronavirus caused lockdowns around the world.

Check whether ‚Äòcountry‚Äô is in the list

In [ ]:
is_country_in_list = 'country' in words
print(is_country_in_list)

False

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [ ]:
if 'The' in words:
    words.remove('The')
    print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'World.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [ ]:
words_lower = [word.lower() for word in words]
x4 = words_lower[:4]

In [ ]:
# print x4
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [ ]:
joined_string = ' '.join(words_lower)
print(joined_string)

coronavirus caused lockdowns around world.

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [ ]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [ ]:
print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [ ]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [ ]:
print(stud_grades_set)

{'B', 'A', 'F', 'C'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [ ]:
print("Type of stud_grades:", type(stud_grades))
print("Elements of stud_grades:", stud_grades)

print("Type of stud_grades_set:", type(stud_grades_set))
print("Elements of stud_grades_set:", stud_grades_set)

Type of stud_grades: <class 'list'>
Elements of stud_grades: ['A', 'A', 'B', 'C', 'C', 'F']
Type of stud_grades_set: <class 'set'>
Elements of stud_grades_set: {'B', 'A', 'F', 'C'}

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [ ]:
stud_grades_set.add('G')
print(stud_grades_set)

{'G', 'A', 'F', 'C', 'B'}

Add element 'F' to stud_grades_set. and print it.

In [ ]:
stud_grades_set.add('F')
print(stud_grades_set)

{'G', 'A', 'F', 'C', 'B'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [ ]:
if 'F' in stud_grades_set:
    stud_grades_set.remove('F')
    print(stud_grades_set)

{'G', 'A', 'C', 'B'}

Print the elements and the length of stud_grades_set

In [ ]:
print("Elements of stud_grades_set:", stud_grades_set)

print("Length of stud_grades_set:", len(stud_grades_set))

Elements of stud_grades_set: {'G', 'A', 'C', 'B'}
Length of stud_grades_set: 4

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [ ]:
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [ ]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [ ]:
colors_set = set(colors)
fruits_set = set(fruits)
print(colors_set)
print(fruits_set)

{'blue', 'orange', 'red'}
{'apples', 'grapes', 'orange'}

Find the union of both the sets.

In [ ]:
set_union = colors_set.union(fruits_set)
print(set_union)

{'apples', 'orange', 'blue', 'grapes', 'red'}

Find the intersection of both the sets

In [ ]:
intersection_set = colors_set.intersection(fruits_set)
print(intersection_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [ ]:
Difference_set = fruits_set.difference(colors_set)
print(Difference_set)

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [ ]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [ ]:
for item in temp:
  print(item)

17
Virat
50.0

replace first element with 11 in temp

In [ ]:
temp[0] = 11
print(temp)

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [ ]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [ ]:
for item in temp1:
  print(item)

11
Virat
50.0

replace first element with 17 in temp1

In [ ]:
temp1 = (17,) + temp1[1:]
print(temp1)

(17, 'Virat', 50.0)

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [ ]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [ ]:
print(city[0])

Bangalore

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [ ]:
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [ ]:
cities = (city, city2)

Print cities

In [ ]:
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [ ]:
print(cities[0])

('Bangalore', 28.9949521, 72)

print the type of cities

In [ ]:
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [ ]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [ ]:
print(d[0])

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [ ]:
actor = d['actor']
print(actor)

amir

Print the type of actor

In [ ]:
print(type(actor))

<class 'str'>

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [ ]:
List = d['list']
print('list')

list

Print the type of List.

In [ ]:
print(type(List))

<class 'list'>

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [ ]:
d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [ ]:
d.update(d1)

print d

In [ ]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [ ]:
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [ ]:
print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [ ]:
for key, value in d.items():
    print(f"({key} ----> {value})")

(actor ----> amir)
(animal ----> cat)
(earth ----> 2)
(list ----> [23, 32, 12])
(singer ----> Kr$na)
(album ----> Still here)
(genre ----> hip-hop)

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [ ]:
char_count = {}

# Iterate over each character in the string
for char in sent:
    # Update the count for each character
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

# Print the dictionary containing character counts
print(char_count)

{'C': 2, 'o': 6, 'r': 4, 'n': 3, 'a': 2, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'e': 2, 'd': 4, 'L': 1, 'c': 1, 'k': 1, 'w': 1, 'A': 1, 'T': 1, 'h': 1, 'W': 1, 'l': 1, '.': 1}